.vscode
.DS_Store
.claude
.history
.local
.cache
system/.custom
system/.exports
nvim/plugin/packer_compiled.lua
__pycache__
credentials.toml
configstore
private.fish
raycast
topgrade.d
yarn
btop.log
.config/lazygit/state.yml
.config/fish/private.fish
.config/fish/fish_variables
.config/github-copilot
.config/zed/embeddings
.config/zed/prompts
.config/zed/conversations
.config/zed/.tmp*
.config/karabiner/automatic_backups/
private/ssh/
.gitsecret/keys/random_seed
!*.secret
*private*
