# ~/.config/starship.toml
add_newline = true

[battery]
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""

[[battery.display]]
threshold = 30
style = "bold red"

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[✖](bold red) "

[cmd_duration]
min_time = 10_000  # Show command duration over 10,000 milliseconds (=10 sec)
format = " took [$duration]($style)"

[directory]
truncation_length = 5
format = "[$path]($style)[$lock_symbol]($lock_style) "

[git_branch]
format = " [$symbol$branch]($style) "
symbol = " "
style = "bold purple"

[git_commit]
commit_hash_length = 8
style = "bold white"

#[git_state]
#progress_divider = " of "

[git_status]
style = "bright-white"
format = "$all_status$ahead_behind"
conflicted = "  "
deleted = " 﫧"
modified = "  ×${count} "
stashed = "  ×${count} "
staged = "  ×${count} "
renamed = "  ×${count} "
untracked = "  ×${count} "

[hostname]
ssh_only = false
format = "<[$hostname]($style)>"
trim_at = "-"
style = "bold dimmed white"
disabled = true

[julia]
format = "[$symbol$version]($style) "
symbol = "ஃ "
style = "bold green"

[memory_usage]
format = "$symbol[${ram}( | ${swap})]($style) "
threshold = 70
style = "bold dimmed white"
disabled = false

[package]
disabled = true

[python]
format = "[$symbol$version]($style) "
style = "bold green"

[rust]
format = "[$symbol$version]($style) "
style = "bold green"

[time]
disabled = false
format = "[$time]($style) "
style = "dimmed white"

[username]
disabled = true
#style_user = "bold dimmed blue"
#show_always = false

[nodejs]
symbol = " "
